.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    padding-left: 60px;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* Add your desired background color */
    z-index: 1000;
    /* Ensure the navbar appears above other content */
    /* Add any other styling you want for the navbar */
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}